<div class="container">
  <div class="row">



    <div class="avatar-bordered">
    <% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url%></div>
    <div><h1><%= "#{@user.first_name} List"  %></h1></div>
    <div class="btn navbar-button"><%= link_to "Go to your friend's page", user_path(user_id: @user.id) %></div>



<!-- card should start here -->
    <div class="col-sm-12">
      <% @list.movie_lists.each do |movie_list| %>
      <%= render 'shared/movie_card_horizontal', movie: movie_list.movie, list: @list %>
      <% end %>
    </div>
  </div>
</div>


