/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.card {
  align-items: center;
  text-align: center;
  height: 420px;
  width: 100%;
  border-radius: 3px;
  transition: all 0.15s ease;
  border: 1px solid #ccc;
  padding:0 30px 0 30px;
}
.card p{
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  padding-top: 5px;
}

.card-title {
  height: 50px;
}

.movies-card {
  border: 2px solid black;
   border-radius: 3px;
   padding: 0 !important;
   height: 304px;

}

.button-hover {
  opacity: 0;
  z-index: 1000;
  background-color: #00a894;
  color: white;
  position: absolute;
  top: 170px;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.movies-card:hover > .button-hover {
    opacity: 1;
}

.movies-card:hover .movie-poster {
  background: white;
    opacity: 1;
}


.movies-borders {
 height: 150px;
 border-radius: 3px;
 padding: 0 !important;
 z-index: -1 !important;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card-fa {
 background-color: white;
 align-items: center;
 bottom: 5px;
 padding-top: 10px;
}

.movies-hover {
transition: .5s ease;
color: white;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.button-o {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/* Body design */


.product {
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  border: 1px solid #ccc;
  margin-top: 30px;
  }

  .product-unique {
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 30px;
  border: 1px solid #ccc;
  -webkit-box-shadow: -2px -2px 39px -6px rgba(0,0,0,0.21);
-moz-box-shadow: -2px -2px 39px -6px rgba(0,0,0,0.21);
box-shadow: -2px -2px 39px -6px rgba(0,0,0,0.21);
  }

.product-body {
  flex: 1 1 auto;
  margin-top: 20px;
  padding-left: 40px !important;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  color: #999999;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  padding-top: 5px;
}

.product-header {
  margin: 100px 50px;
}

.product-header p {
  color: #999999;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  padding-top: 5px;

}
.product-header span {
  color: #00a894 ;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  padding-top: 5px;

}


.product-body span {
  color: #00a894 ;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  padding-top: 5px;
}




/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.product-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-count {
  margin: 2px 0 0;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design inline */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.product-controls a {
  align-items: center;
    padding: 20px 20px;
    font-size: 30px;
    color: #00a894;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Controls design no flex */
.product-controls-no-flex {
  align-items: center;
  text-align: center;
  margin: 0px;
}

.product-controls-no-flex a {
  align-items: center;
    padding: 20px 20px;
    font-size: 30px;
    color: #00a894;
}
.product-controls-no-flex a:hover {
  color: #D3473C !important;
}
.product-controls-no-flex-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

// tags

.tags {
  background: #FFFFF;
  background-image: -webkit-linear-gradient(top, FFFFF, #2980b9);
  background-image: -moz-linear-gradient(top, FFFFF, #2980b9);
  background-image: -ms-linear-gradient(top, FFFFF, #2980b9);
  background-image: -o-linear-gradient(top, FFFFF, #2980b9);
  background-image: linear-gradient(to bottom, FFFFF, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 3px;
  color: #00a894;
  font-size: 10px;
  padding: 7px 20px 7px 20px;
  border: solid #00a894 1px;
  text-decoration: none;
}

.product-inline {
display: inline-block;
}



/* Hover effects */
.product-unique:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }
