.background-signup {
    text-align: center;
    height: 70vh;
    background-size: cover !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top:10px;
    padding-left: 75px;
    padding-right: 75px;
}

.search-results {
  margin-top: 150px;
}

.search-results h2 {
  color: #999999;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
  padding-top: 5px;
  margin-top: 100px;
}


.sign-up-card {
  margin-top: 20px;
  background-color: white;
  align-items: center;
  text-align: center;
  height: 420px;
  width: 50%;
  border-radius: 3px;
  transition: all 0.15s ease;
  // border: 1px solid #ccc;
  padding:40px 100px 0 100px;
  -webkit-box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  margin-left: 25%;
}



.sign-up-card-big {
  margin-top: 40px;
  background-color: white;
  align-items: center;
  text-align: center;
  height: 650px;
  width: 50%;
  border-radius: 3px;
  transition: all 0.15s ease;
  // border: 1px solid #ccc;
  padding:40px 100px 0 100px;
  -webkit-box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  box-shadow: 0px 3px 23px -8px rgba(0,0,0,0.47);
  margin-left: 25%;
}


.sign-up-card h2 {
  color: #999999;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  padding-top: 5px;
}

.sign-up-card span {
  color: #00a894 ;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 40px;
  margin-top: 0;
  padding-top: 5px;

}


.sign-up-card p {
  color: #999999;
  margin-bottom: 0;
  // font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  padding-top: 5px;
}



