



<div class="container">
  <div class="card">
    <h1>You are in the SHOW of  <%= @movie.name  %> </h1>


    <%= render 'shared/movie_card_horizontal' %>
    <%= render 'shared/facebook_btn', movie: @movie %>




  </div>
</div>
