<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<!-- array of user_id's movie lists -->
<!-- Follow button that will set up followship with current_user -->


<div class="avatar-bordered"><%= image_tag "facebook_picture_url"%></div>
<div><h1><%= "You are looking at #{@user.first_name}"  %></h1></div>

<% if !@following %>
  <div><%= link_to 'Follow', followships_path(user_id: @user.id), method: 'post'  %></div>
<% else %>
  <div><%= link_to 'Unfollow', followships_path(user_id: @user.id), method: 'delete'  %></div>
<% end %>






