
        <div class="col-xs-12 col-sm-3">
          <div class="card">
 <div class="card-title">
              <p class="text-center"><%= list.name %></p>
            </div>
            <% avatar_url = list.user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar-card-topleft" %>

            <div class="row">
             <div class="movies-card">
              <% list.movies.limit(4).each do|movie| %>


              <div class="col-xs-6 movies-borders">

                <%= image_tag movie.poster_url, class: "movie-poster" %>
              </div>
              <% end %>
            </div>

            <%= link_to "See more", list_path(list.id), class: "btn btn-lg button-hover" %>

          </div>


        </div>
      </div>
