

<div class="horizontal-unique">
  <div class="row">

   <div class="col-sm-2">
    <%= image_tag movie.poster_url, class:'img-responsive', :width => 360, :height => 500, :crop => :fill %>
  </div>
  <div class='col-sm-7 movie-card-horizontal'>
    <div class="movie-inline ">
      <h2><%= movie.name %></h2>
     <p class=""><%= truncate(movie.overview, :ommision => "...Read More", :length => 400) %></p>

    </div>

  </div>

  <div class="col-sm-2">
   <ul class="list-inline movie-horizontal-share hidden-sm hidden-xs">

    <li><a href="#"><i class="fa fa-share"></i></a></li>
    <p>Share</p>

    <li>
 <%= link_to list_remove_movie_path(list_id: list.id, title: m.title, release_date: m.releasedate, overview: m.overview, poster_url: "https://image.tmdb.org/t/p/w640/#{m.poster_path}") do %>
    <i class="fa fa-trash-o"></i>
    <% end %>
    </li>
    <p>Remove from list</p>

  </ul>
</div>

</div>
</div>

